.useIcon {
  text-align: center;
  font-size: 220%;
  color: white;
}

.Row {
  margin: 10px;
}

.Col {
  text-align: center;
  padding: 8px;
}

.dash1 {
  background: linear-gradient(107.34deg, #c73841 1.76%, #ec7e86 100%) !important;
  padding-top: 33px;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
  height: 100px;
  margin-left: 15px;
}

.dash2 {
  background: linear-gradient(107.34deg, #38B0C0 1.76%, #27D6EB 100%) !important;
  padding-top: 33px;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
  height: 100px;
  margin-left: 15px;
}

.dash3 {
  background-color: #4ca64c;
  padding-top: 33px;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
  height: 100px;
  margin-left: 15px;
}

.dash4 {
  background-color: #cc8400;
  padding-top: 33px;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
  height: 100px;
  margin-left: 15px;
}

/* #5d83ed */
.dash5 {
  background-color: #535932;
  padding-top: 33px;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
  height: 100px;
  margin-left: 15px;
}

.dash6 {
  background-color: #987708;
  padding-top: 33px;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
  height: 100px;
  margin-left: 15px;
}

.dash7 {
  background-color: #aabd3f;
  padding-top: 33px;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
  height: 100px;
  margin-left: 15px;
}

.inforide {
  box-shadow: 1px 2px 8px 0px #cecece;
  background-color: white;
  border-radius: 8px;
  height: 100px;
}

.ridethree {
  background-color: #4EBCE5;
  padding-top: 35px;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
  height: 125px;
  margin-left: 15px;
}

.fontsty {
  margin-right: -15px;
}

.fontsty h2 {
  color: #6E6E6E;
  font-size: 30px;
  margin-top: 0px;
  text-align: left;
  margin-right: 30px;
}

.fontsty h4 {
  color: #6E6E6E;
  font-size: 20px;
  margin-top: 15px;
  text-align: left;
  margin-right: 30px;
}

.fontsty h2 {
  font-size: 2vw;
}

@media only screen and (max-width:800px) {
  .fontsty h4 {
    color: #6E6E6E;
    font-size: 14px;
    margin-top: 15px;
    text-align: left;
    margin-right: 30px;
  }


}

@media only screen and (max-width:600px) {
  .fontsty h4 {
    color: #6E6E6E;
    font-size: 17px;
    margin-top: 15px;
    text-align: left;
    margin-right: 30px;
  }

  .fontsty h2 {
    font-size: 4vw;
  }
}